a {
    text-decoration: none;
}
.login-page {
    width: 100%;
    height: 90vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

/* icons */
.form-right i {
    font-size: 100px;
}

.indexing-style {
    z-index: 11;
}